<!DOCTYPE html>
<html>
<head>
  <title>GeoLocations</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- Bootstrap -->
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="locations.css">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper-box">
  <div class="container">
    <%= yield %>
  </div>
</div>
<%= javascript_include_tag "locations.js" %>
</body>
</html>
